footer {
  position: fixed;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
  bottom: 0px;
  left: 0px;
  padding: 6px;
  text-align: center;
  z-index: 0;
  @include boxShadow(0px,-2px,10px,1px,rgba(0,0,0,0.75));
}