html
  head
    title Game of life
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css")
    link(rel="stylesheet" href="./loading/loading.css")
  body(style='background: url("https://images.pond5.com/worship-background-modern-edge-blue-footage-026057078_prevstill.jpeg") no-repeat center center fixed; background-size: cover;')
    div.app#app
      div(style="color: white; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; display: flex; align-items: center; justify-content: center; flex-direction: column")
        //img(src="http://www.susannalea.com/img/skin/loader.gif" width="40px")
        h3#loading.loading Loading
    script(type="text/javascript", src="./loading/loading.js")
    script(type="text/javascript", src="https://use.fontawesome.com/087900f152.js")
    script(type="text/javascript", src="./bundle.js")